/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li, address {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tahoma", Tahoma, monospace;
    background-color: #f0f0f0;
    color: #000;
    line-height: 1.5;
    text-align: center;
}

header {
    background-color: #000;
    color: #00c3ff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #00c3ff;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
}

h2 {
    font-size: 24px;
    color: #00c3ff;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #000;
    border: 2px solid #00c3ff;
    border-radius: 5px;
}

.project img {
    max-width: 100%;
}

.project h3 {
    font-size: 20px;
    color: #00c3ff;
    margin-top: 10px;
}

.project p {
    color: #fff;
}

address a {
    color: #00c3ff;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}